package com.xkietmods.app; // <--- Nhớ đổi lại tên package này cho khớp với dự án của bạn trên GitHub

import android.os.Bundle;
import android.app.Activity;

public class MainActivity extends Activity {

    // Đoạn mã nạp thư viện C++ (libloader.so)
    static {
        System.loadLibrary("loader");
    }

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        
        // Code giao diện hoặc khởi tạo ứng dụng của bạn ở đây
    }
}
    
